<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page</title>
</head>

<body>
<link rel="stylesheet" href="/css/login.css">

<h1> Log in to your account here! </h1><br>


<button> This is a test button! </button>


</body>